@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: rgb(44, 44, 61);
    /*background-image: linear-gradient(45deg, #343779, #982062, #f86041, #FFA656, #33A9AC);*/
    background-image: linear-gradient(45deg, #2E4054, #294d75, #a1223d, #CC274C);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    margin: 30px;
}
main #pink {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height: 450px;
    box-shadow: 10px 10px 43px 5px rgba(0,0,0,0.24);
    margin: 10px;
}
main #pink:hover {
    width: 350px;
    height: 500px;
}
main #yellow {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height: 450px;
    box-shadow: 10px 10px 43px 5px rgba(0,0,0,0.24);
    margin: 10px;
}
main #yellow:hover {
    width: 350px;
    height: 500px;
}
main #blue {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height: 450px;
    box-shadow: 10px 10px 43px 5px rgba(0,0,0,0.24);
    margin: 10px;
}
main #blue:hover {
    width: 350px;
    height: 500px;
}
main #Prim{
    display: flex;
    justify-content: space-between;
}
main #Prim .icon{ 
    width: 8%;
}
main #Prim .logo{ 
    width: 22%;
}
main #Seg #tenis{
    width: 100%;
}
main #Ter h3{ 
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}
main #Quar{ 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
main #Quin img{
    width: 20px; 
}
main #Sex{ 
    display: flex;
    justify-content: space-around;
}
main #Sex p{
    margin-top: 23px;
}
main #Sex p:hover{
    font-weight: bold;
    font-size: large;
}
main #Sex h3{
    margin-top: 22px;
    color: rgba(0, 0, 0, 0.644);
    text-decoration: underline;
}
.preço {
    text-align: center;
    font-weight: 900;
}
.preço_ant {
    color: rgb(194, 194, 194);
    text-decoration: line-through;
}
.promoção {
    color: rgb(131, 8, 8);
}
main button {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-image: linear-gradient(45deg, #343779, #33A9AC);
    color: white;
    font-weight: bold;
}
main a button:hover {
    height: 60px;
    margin: auto;
}