@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-image: linear-gradient(45deg, #1A1A40, #270082, #7A0BC0, #FA58B6);
    font-family: Arial, Helvetica, sans-serif;
}
main {
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 300px;
    height: 500px;
    border-radius: 5%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 10px 10px 43px 5px rgba(0,0,0,0.24);
    font-family: 'Roboto', sans-serif;
}
main #Prim{
    display: flex;
    justify-content: space-between;
}
main #Prim #icon{ 
    width: 8%;
}
main #Prim #logo{ 
    width: 22%;
}
main #Seg #tenis{
    width: 100%;
}
main #Ter h3{ 
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}
main #Quar{ 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
main #Quin img{
    width: 20px; 
}
main #Sex{ 
    display: flex;
    justify-content: space-around;
}
main #Sex p{
    margin-top: 23px;
}
main #Sex p:hover{
    font-weight: bold;
    font-size: large;
}
main #Sex h3{
    margin-top: 22px;
    color: rgba(0, 0, 0, 0.644);
    text-decoration: underline;
}
main .comprar {
    padding: 10px;
    background-image: linear-gradient(45deg, #1A1A40, #270082, #7A0BC0, #FA58B6);
    border-radius: 30px;
    color: white;
    font-weight: bold;
    border: none;
}
main .comprar:hover{
    background-image: linear-gradient(45deg, #FA58B6, #7A0BC0, #270082, #1A1A40);
}