@charset "UTF-8";

body {
    margin: 42px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(45deg, #343779, #982062, #f86041, #FFA656, #33A9AC);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main {
    background-color: white;
    margin: auto;
    width: 300px;
    height: 500px;
    padding: 20px;
    border-radius: 5%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 10px 10px 43px 5px rgba(0,0,0,0.24);
}
#user {
    text-align: center;
    height: 10px;
}
#formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
main #email {
    background-color: rgb(216, 214, 214);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}
main #email label{
    padding: 15px;
    font-weight: bold;
} 
main #email input{
    width: 132px;
    height: 5px;
    border: none;
}
main #senha {
    background-color: rgb(216, 214, 214);
    padding: 20px;
    font-weight: bold;
    border-radius: 10px;
    margin: 10px;
}
main #senha input {
    border: none;
    background-color: rgb(216, 214, 214);
    border-radius: 10px;
    height: 23px;
}
main #entrar {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #343779;
    color: white;
    font-weight: bold;
}
main #entrar:hover {
    background-color: #33A9AC;
    color: black;
}